
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DDL2</title>
</head>
<body>
    <div>
        @Html.DropDownList("pid",(SelectList)ViewBag.selList) 

        @Html.ListBox("a", (SelectList)ViewBag.selList)

       
        @using (Html.BeginForm())
        {
            @Html.TextBox("aaa")
            @Html.TextArea("ddd")
        }
    </div>
</body>
</html>
