<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.0.0" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net452" />
  <package id="MonoGame-Portable" version="3.2.1" targetFramework="net452" />
  <package id="MySql.Data" version="7.0.6-IR31" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="7.0.6-IR3" targetFramework="net452" />
  <package id="NPOI" version="2.2.1" targetFramework="net452" />
  <package id="Nuclectic.Graphics.Helpers" version="0.1.1-alpha1" targetFramework="net452" />
  <package id="Nuclectic.Graphics.TriD" version="0.1.1-alpha1" targetFramework="net452" />
  <package id="Nuclectic.Graphics.TriD.Abstractions" version="0.1.1-alpha1" targetFramework="net452" />
  <package id="Nuclectic.Graphics.TriD.SpecialEffects" version="0.1.1-alpha1" targetFramework="net452" />
  <package id="Nuclectic.Graphics.TriD.SpecialEffects.Abstractions" version="0.1.1-alpha1" targetFramework="net452" />
  <package id="Nuclectic.Graphics.TriD.SpecialEffects.Water" version="0.1.1-alpha1" targetFramework="net452" />
  <package id="Nuclectic.Support.Abstractions" version="0.1.1-alpha1" targetFramework="net452" />
  <package id="Nuclectic.Support.Collections" version="0.1.1-alpha1" targetFramework="net452" />
  <package id="Nuclectic.Support.Collections.Abstractions" version="0.1.1-alpha1" targetFramework="net452" />
  <package id="Nuclectic.Support.Helpers" version="0.1.1-alpha1" targetFramework="net452" />
  <package id="Nuclectic.Support.Helpers.InteropServices" version="0.1.1-alpha1" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net452" />
</packages>