@using ZSZ.CommonMVC;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pager1</title>
</head>
<body>
    <div> 
    </div>
    @{ 
        RuPengPager pager = new RuPengPager();
        pager.CurrentPageClassName = "active";
        pager.MaxPagerCount = 10;
        pager.PageIndex = 3;
        pager.PageSize = 50;
        pager.TotalCount = 809;
        pager.UrlPattern = "/Data?p={pn}";
    }
    @Html.Raw(pager.GetPagerHtml())
</body>
</html>
