
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<form action="~/Person/Add" method="post">
    姓名：<input type="text" name="Name"/>
    年龄：<input type="text" name="Age" />
    <input type="submit"/>
</form>
