@{ 
    Layout = "~/Views/_LayoutPage1.cshtml";
    ViewBag.Title = "首页";
    Page.Haha = "我的标题";
}
@section Footer
{
    我是Index2的尾部
    <p style="color:red">hahaha</p>
}

hello

@section Header
{
    我是Index2的头部
}

@section Sec1
{
     这个坑我来填
}
