@model EFDTO.StudentDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div> 
        @Model.Name   年龄：@Model.Age  班级 @Model.ClassName  民族：@Model.MinZuName
    </div>
</body>
</html>
